/* глобальный стиль */
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 1600px;
  color: #212121;
}
:root {
  --color-primary: #2196f3;
}
/* хедер */
.headline {
  border: 1px solid #ececec;
}
.headline li {
  list-style: none;
}
.headline a {
  text-decoration: none;
}

.web-studio {
  width: 145px;
  height: 31px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  color: #212121;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-primary);
}
.headline-name {
  color: #212121;
}
.nav-studia-one {
  color: var(--color-primary);
}
.nav-portfolio,
.nav-contact {
  color: #212121;
}
.nav-bar a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.mail-tel > li > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-bar > ul > li > a:hover,
.nav-bar > ul > li > a:focus,
.mail-tel > li > a:hover,
.mail-tel > li > a:focus {
  color: var(--color-primary);
}
/* section button */
.section-one {
  text-align: center;
  background: #2f303a;
}
.section-one > button a {
  text-decoration: none;
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--color-primary);
}

/* основная  часть */
.detail li {
  list-style: none;
}
.detail h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.detail p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* чем мы занимаемся */
.doing-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.doing li {
  list-style: none;
}
/* наша команда */
.section-three {
  background: #f5f4fa;
}
.section-three li {
  list-style: none;
}
.section-three h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-footer {
  text-align: center;
}
.team-footer > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-footer > p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* подвал */
.footer {
  background: #2f303a;
}
.footer li {
  list-style: none;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-name {
  color: #ffffff;
}

.footer-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-info:hover,
.footer-info:focus {
  color: #ffffff;
}

/* page potfolio */
.menu-button li {
  list-style: none;
}
.nav-studia-two {
  color: #212121;
}
.nav-portfolio-two {
  color: var(--color-primary);
}
/* секция с кнопками */
.main-button li {
  list-style: none;
}
.main-button > ul > li {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-button > ul > li:first-child > button {
  background: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
}
.main-button > ul > li > button:hover {
  background: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
}
.main li {
  list-style: none;
}
.main a {
  text-decoration: none;
}
.main > li > a > h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.main > li > a > p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.h2-main {
  position: absolute;
  display: none;
}
