/* глобальный стиль */
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  max-width: 1600px;
  color: #212121;
}
:root {
  --color-primary: #2196f3;
}
/* хедер */
.headline {
  border: 1px solid #ececec;
}
.headline li {
  list-style: none;
}
.headline a {
  text-decoration: none;
}

.web-studio {
  width: 145px;
  height: 31px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  color: #212121;
  text-decoration: none;
}
.nav-portfolio,
.nav-contact,
.nav-studia {
  color: #212121;
}
.color-blue {
  color: #2196f3;
}
.mail-tel > li > a {
  color: #757575;
}
.mail-tel > li > a:hover,
.mail-tel > li > a:focus {
  color: #212121;
}
/* section button */
.section-one {
  text-align: center;
  background: #2f303a;
}
.section-one > button a {
  text-decoration: none;
}

.h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
}
.button {
  color: #ffffff;
  background-color: var(--color-primary);
}

/* основная  часть */
.detail li {
  list-style: none;
}
.detail h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: Roboto;
}
.detail p {
  font-size: 15px;
  color: #757575;
  font-family: Roboto;
}
/* чем мы занимаемся */
.section-three {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.doing li {
  list-style: none;
}
/* наша команда */
.section-four {
  background: #f5f4fa;
}
.section-four li {
  list-style: none;
}
.section-four h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 46px;
  line-height: 42px;
  text-align: center;
}
.team-footer {
  text-align: center;
}
.team-footer > p {
  color: #757575;
}

/* подвал */
.footer {
  background: #2f303a;
}
.footer li {
  list-style: none;
}
.footer > a,
p {
  color: #ffffff;
}
.address {
  font-weight: normal;
  font-size: 14px;
}
.footer-info {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-info:hover,
.footer-info:focus {
  color: #ffffff;
}

/* page potfolio */
.menu-button li {
  list-style: none;
}
.menu-button > ul > li:first-child > input {
  background: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
}
.menu-button > ul > li > input:hover {
  background: var(--color-primary);
  color: #ffffff;
  cursor: pointer;
}
.main li {
  list-style: none;
}
.main > li > h3 {
  font-size: 18px;
}
.main > li > p {
  color: #757575;
}
.h2-main {
  position: absolute;
  display: none;
}
